* {
	margin: 0;
	padding: 0
}

html {
	
}

body {
	background: #222222;
	color: #eeeeee;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	padding-bottom: 5%;
}

img,
video {
	border-radius: 0.75rem;
	width: 100%;
	height: auto;
	object-fit: contain
}

h3 {
	font-weight: normal
}

hr {
	margin: 2rem 10rem;
	border: 0.15rem solid #d6d1d5;
	border-radius: 1rem
}

strong {
	color: #ce2f4e
}

.quote {
	font-style: italic;
	color: #ce2f4e;
	font-size: larger;
	font-weight: bolder
}

nav {
	overflow: hidden;
	background-color: #444444;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	color: #fafafa;
	z-index: 2
}

nav ul {
	list-style-type: none;
	text-align: center;
	margin: 0 0.5rem;
	padding: 0.5rem;
	display: flex;
	align-items: center
}

nav ul li {
	font-size: 1.25rem;
	margin: 0rem 0.15rem
}

nav ul li a {
	border-radius: 0.5rem;
	font-weight: bold;
	text-decoration: none;
	transition: background-color ease 0.2s;
	padding: 0.75rem 1rem;
	color: #fafafa
}

nav ul li a:hover {
	cursor: pointer
}

nav ul li a:hover {
	background-color: #ce2f4e
}

nav ul li button {
	font-size: 1.5rem;
	border: none;
	color: #fafafa;
	padding: 0.5rem;
	border-radius: 0.5rem;
	background-color: #211f23;
	height: 49px;
	width: 49px;
	transition: background-color ease 0.2s
}

nav ul li button:hover {
	background-color: #ce2f4e;
	cursor: pointer
}

nav ul li .icon {
	padding: 0.75rem 0.9rem
}

nav ul li .icon i {
	font-size: 1.5rem
}

nav ul .title {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	border-radius: 0.5rem;
	font-weight: bold;
	text-decoration: none;
	transition: background-color ease 0.2s;
	padding: 0.75rem 1rem;
	color: #fafafa
}

nav ul .title:hover {
	cursor: pointer
}

nav ul .title a {
	transition: color ease 0.2s
}

nav ul .title a:hover {
	background-color: #211f23
}

nav ul #welcome {
	font-weight: bold;
	text-align: center;
	border-radius: 0.5rem;
	font-weight: bold;
	text-decoration: none;
	transition: background-color ease 0.2s;
	padding: 0.75rem 1rem;
	color: #fafafa;
	font-size: 1.25rem
}

nav ul #welcome:hover {
	cursor: pointer
}

nav ul #welcome:hover {
	background-color: #3dbceb
}

nav .hamburger {
	font-size: 1.5rem;
	display: none
}

nav .hamburger i {
	border-radius: 0.5rem;
	font-weight: bold;
	text-decoration: none;
	transition: background-color ease 0.2s;
	padding: 0.75rem 1rem;
	color: #fafafa;
	width: 24px;
	height: 24px;
	padding: 0.75rem
}

nav .hamburger i:hover {
	cursor: pointer
}

nav .hamburger i:hover {
	background-color: #ce2f4e
}

#navLeft {
	margin-left: 9%;
}

#navCenter {
	margin-right: 11%;
}

#navRight {
	margin-right: 9%;
}

.flex {
	display: flex !important
}

.hamburgerLink a {
	border-radius: 0.5rem;
	font-weight: bold;
	text-decoration: none;
	transition: background-color ease 0.2s;
	padding: 0.75rem 1rem;
	color: #fafafa;
	font-size: 1.15rem;
	line-height: 3em;
	margin: 1rem
}

.hamburgerLink a:hover {
	cursor: pointer
}

.hamburgerLink a:hover {
	background-color: #ce2f4e
}

.homePageGames {
	display: flex;
	justify-content: center;
	list-style-type: none;
	align-items: center;
	flex-flow: row wrap;
	gap: 1%;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 2%;
}

.homePageGames .game {
	max-width: 25%;
	min-width: 300px;
	height: 25%;
	margin: 1rem
}

.homePageGames .game img {
	border-radius: 0.75rem;
	width: 100%;
	height: 100%;
	display: block;
	transition: filter ease 0.1s
}

.homePageGames .game img:hover {
	filter: opacity(85%);
	cursor: pointer
}

.homePageGames figcaption {
	line-height: 1.75rem;
	font-size: 1.75rem;
	font-weight: bold;
	white-space: nowrap;
	margin-top: 1rem;
	text-align: center
}

.topContainer {
	/* display: flex; */
	justify-content: center;
	align-items: center;
	gap: 5%
}

.topContainer p {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.25rem;
}

.topContainer .gameTitle {
	font-size: 3rem;
	margin: 2rem;
	margin-bottom: 0.75rem;
	text-align: center;
	/* text-transform: uppercase */
}

.topContainer .playButton {
	border-radius: 0.5rem;
	font-weight: bold;
	text-decoration: none;
	transition: background-color ease 0.2s;
	padding: 0.75rem 1rem;
	color: #fafafa;
	background-color: #ce2f4e;
	font-size: 1.75rem;
	padding: 1.5rem 1.75rem
}

.topContainer .playButton:hover {
	cursor: pointer
}

.topContainer .playButton:hover {
	background-color: #3dbceb
}

.gamesContainer {
	display: flex;
	flex-flow: row wrap;
	list-style: none;
	justify-content: center;
	align-items: center;
	gap: 1%;
	margin-bottom: 2rem
}

.gamesContainer .item {
	min-width: 300px;
	max-width: 35%;
	margin: 0 1rem;
	font-size: 1.25rem;
	line-height: 2rem
}

.gamesContainer .item li {
	margin-left: 2rem
}

.gamesContainer h2 {
	margin-bottom: 0.5rem
}

.gamesContainer figcaption {
	font-size: 1.25rem;
	text-align: center;
	font-style: italic
}

.gamesContainer .gameAsset {
	max-width: 50%;
	margin: 1rem
}

.aboutMe {
	list-style-type: none;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5rem 0;
	gap: 5%
}

.aboutMe .customizable {
	border-radius: 0.5rem;
	font-weight: bold;
	text-decoration: none;
	transition: background-color ease 0.2s;
	padding: 0.75rem 1rem;
	color: #fafafa;
	background-color: #3dbceb;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
	line-height: 2em
}

.aboutMe .customizable:hover {
	cursor: pointer
}

.aboutMe .aboutMeItem {
	max-width: 60%;
	margin-bottom: 2rem
}

.aboutMe .aboutMeItem h1 {
	margin-bottom: 2rem
}

.aboutMe .aboutMeItem img {
	display: block;
	max-width: 300px
}

.aboutMe .aboutMeItem .customizaAboutMe {
	margin: 2rem 0
}

.aboutMe .aboutMeItem .customizaAboutMe p {
	display: inline
}

.aboutMe .aboutMe2Section {
	margin: 0 0 0 10%
}

footer {
	background-color: #211f23;
	color: #fafafa;
	text-align: center;
	padding: 1.25rem;
	margin-top: 0.5rem 0
}

footer ul {
	display: flex;
	list-style: none
}

footer a {
	border-radius: 0.5rem;
	font-weight: bold;
	text-decoration: none;
	transition: background-color ease 0.2s;
	padding: 0.75rem 1rem;
	color: #fafafa
}

footer a:hover {
	cursor: pointer
}

footer a:hover {
	background-color: #ce2f4e
}

footer p {
	font-style: italic
}

#backToTop {
	display: none;
	margin-bottom: 1.5rem
}

#bottomLinks {
	display: none;
	justify-content: center;
	font-size: 1.5rem;
	gap: 1%;
	margin-bottom: 1rem
}

.hidden {
	display: none !important
}

@media screen and (max-width: 1100px) {
	#welcome {
		display: none
	}
}

@media screen and (max-width: 1000px) {
	nav {
		justify-content: center
	}

	nav ul:not(:first-child) {
		display: none
	}

	nav li:not(.title, .hamburger, .hamburgerLink) {
		display: none
	}

	nav .hamburger {
		display: block
	}

	nav .title {
		font-size: 1rem;
		min-width: 12rem
	}

	.homePageGames {
		flex-direction: column
	}

	.homePageGames .game {
		min-width: 200px;
		max-width: 60%
	}

	.topContainer {
		flex-direction: column;
		gap: 0
	}

	.topContainer .playButton {
		margin-bottom: 1rem
	}

	.gamesContainer {
		flex-direction: column
	}

	.gamesContainer .item {
		min-width: 85%;
		margin: 1rem
	}

	.gamesContainer .gameAsset {
		max-width: 70%
	}

	.aboutMe {
		flex-direction: column;
		justify-content: center;
		padding: 0
	}

	.aboutMe .customizaAboutMe {
		min-width: 500px
	}

	footer p {
		margin-top: 0.75rem
	}

	#backToTop {
		display: block
	}

	#bottomLinks {
		display: flex
	}
}

@media screen and (max-width: 500px) {
	.homePageGames .game {
		min-width: 200px;
		max-width: inherit
	}

	.topContainer .gameTitle {
		font-size: 3rem
	}

	.aboutMe .aboutMeItem {
		max-width: 80%
	}

	.aboutMe .aboutMeItem h1 {
		font-size: 3rem
	}

	.aboutMe .aboutMeItem .customizaAboutMe {
		display: none
	}
}

.container {
	display: grid;
	grid-template-columns: 1fr 0.75fr;
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 10%;
}
  
.column {
	height: 300px;
	margin: 2%;
	font-size: 1.25rem;
}

.column p {
	margin-top: 5%;
}

.column a {
	color: #33ddff;
}

.header {
	position: relative;
	left: 25%;
	/* transform: translateX(-50%); */
	margin-bottom: 15%;
}

.header video {
	width: 50%;
}